/* Colors
/* Font 
-------------------------- */
$text-primary: #333333;
$text-secondary: #909399;


/* Border &Background 
-------------------------- */
$shadow: #e6e6e6;
$border: #dcdfe6;
$border-light: #e0e0e0;
